<script src="/js/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-w6VULHChBCa9DhYdsGoJVo9QpZfVeP4&callback=myMap"></script>
<script>
    if(coordinates){
        console.log(coordinates)
    }else{
        console.log('nothing')
    }
</script>
</body>

</html>