<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main style="text-align: center;padding-bottom: 100%;">
                <h2>This App is using data fethed by The Whale Hotline API:</h2>
                <h3><a style="text-decoration: none;"
                        href='http://hotline.whalemuseum.org/api#parameters'>http://hotline.whalemuseum.org/api#parameters</a>
                </h3>
                <h3>Connected to Washington Whale Museum database.</h3>
                <h3 style="font-weight: normal;"> The main funcionality is to feth data from museums endpoins and
                    present it via Google Maps. </h3>
                <h3 style="font-weight: normal;"> Unfortynately the data is mainly limited to the Washington region</h3>
            </main>

    </body>

    </html>